*{
    box-sizing: border-box;
    font-family: 'Roboto';
}
#frame{
    border: solid black 4px;
    height: 860px;
    width: 410px;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
}
#menu{
    display: flex;
    justify-content: space-between;
    
}
#menuIz{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mediano{
    font-size: xx-large;
    margin-right: 20px;
}
#tres{
    border-radius: 100%;
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
#myBag{
    font-size: 2.5em;
}
#models{
    display: flex;
    flex-direction: column;    
}
.model{
    display: flex;
    margin-top: 20px;
}
.tenis{
    background-color: #f6f6f6;
    border-radius: 30px;
    height: 100px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tenisFoto{
    height: 110%;
}
.description{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.precioCantidad{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 137.5px;
}
.nombreModelo{
    margin-bottom: 0;
}
.cantidad{
    color: #c3c3c3;
    font-size: small;
    margin-top: 18px;
}
.nombreModelo2{
    margin-bottom: 0;
    margin-top: 0;
}
#total{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-top: 3em;
}
#totalP{
    color: #969696;
}
#checkout{
    border-radius: 40px;
    background-color: black;
    color: white;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 3em;
}